* {
  margin: 0;
  padding: 0;
}

.green {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: green;
  text-align: center;
  height: 10vh;
}

.yellow {
  display: flex;
  flex-direction: row;
}

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  text-align: center;
  background-color: orange;
  height: 80vh;
  border: 5px solid white;
}

.Cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
  text-align: center;
  background-color: orange;
  height: 80vh;
  border: 5px solid white;
}

.Ads {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  text-align: center;
  background-color: orange;
  height: 80vh;
  border: 5px solid white;
}

.corn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  text-align: center;
  height: 10vh;
}
