/* Start coding here */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, hsl(0, 100%, 70%), hsl(240, 100%, 70%));
  gap: 50px;
}

.box-1,
.box-2,
.box-3 {
  height: fit-content;
  width: 300px;
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: hsla(0, 50%, 100%, 0.5);
}
.button {
  background-color: yellow;
  border: none;
  width: 100%;
  padding: 8%;
  height: fit-content;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}
.button:hover {
  background-color: yellowgreen;
}
.content {
  padding: 20px;
}
h1 {
  color: white;
}
h2 {
  padding: 20px;
  font-size: 55px;
}
